.form-title {
  display: flex;
  justify-content: center;
  color: darkgreen;
  font-size: 2.4rem;
  font-family: cursive;
  padding-bottom: 2rem;
  place-content: center;
}
.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 10rem;
}
.custom-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
      rgba(0, 0, 0, 0.1);
  border: 0 none;
  background: #ebf5fc;
}

.form-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-content: center;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;

}
h1 {
  margin-bottom: 40px;
  font-size: 16px;
}

form {
  width: 300px;
}
label {
  margin-bottom: 4px;
  font-weight: 600;
  align-content: center;
  place-content: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.buttonSubmit {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#fff;
  border-color:#599bb3;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background:linear-gradient(#599bb3, #408c99);
  }
  .buttonSubmit:disabled {
    background: linear-gradient(27deg, rgba(0,0,0,1) 0%, rgba(195,190,183,1) 100%);
    background-color:transparent;
  }
  .buttonSubmit:hover {
    background: linear-gradient(#408c99, #599bb3);
  }
  .buttonAction {
    font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:rgba(255, 255, 255, 1);
  border-color:#599bb3;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow: 0px 10px 14px -7px #276873;
  text-shadow: 0px 1px 0px #3d768a;
  background:linear-gradient(rgba(121, 214, 217, 1), rgba(52, 198, 187, 1));
  }

  .buttonAction:hover {
    background: linear-gradient(rgba(52, 198, 187, 1), rgba(121, 214, 217, 1));
  }

  .form-buttons {
  display: flex;
  margin: 10px;
  padding-bottom: 30px;
  justify-content: space-evenly;

}
.message--error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .2s;

}
.invalid {
  opacity: 1;
}

@media screen and (min-width: 400px) {
  .form {
    justify-content: center;
  }
}


.form-title {
  display: flex;
  justify-content: center;
  color: darkgreen;
  font-size: 2.4rem;
  font-family: cursive;
  padding-bottom: 2rem;
}

.form-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-content: center;
  font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;

}
h1 {
  margin-bottom: 40px;
  font-size: 16px;
}

form {
  width: 300px;
}
label {
  margin-bottom: 4px;
  font-weight: 600;
}
.input-group {
  display: flex;
  flex-direction: column;
}
input {
  border: none;
  outline: none;
  height: 24px;
  border-radius: 10px;
  padding: 4px 8px;
  background-color: whitesmoke;
  caret-color: green;
  color: rgb(98, 97, 97);
}

.form-buttons {
  display: flex;
  margin: 10px;
  padding-bottom: 30px;
  justify-content: space-evenly;

}
.message--error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear .2s;

}
.invalid {
  opacity: 1;
}
@media screen and (min-width: 400px) {
  .form {
    justify-content: center;
  }
}
